{% extends 'base.html.twig' %}

{% block title %}New Street{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            let $streetName = $('#street_name');
            addCapitalization($streetName);
        })

        function addCapitalization($input) {
            $input.on('keyup', function (e) {
                e.target.value = e.target.value.substring(0, 1).toUpperCase() + e.target.value.substring(1).toLowerCase();
            })
        }
    </script>
{% endblock%}

{% block body %}
    <h1>Create new Street</h1>

    {{ include('street/_form.html.twig') }}

    <a href="{{ path('app_street_index') }}" class="btn btn-secondary">back to list</a>
{% endblock %}
