<form method="post" action="{{ path('app_order_cancel', {'id': order.id}) }}" onsubmit="return confirm('Are you sure you want to cancel this order?');">
    <input type="hidden" name="_token" value="{{ csrf_token('cancel' ~ order.id) }}">
    <button class="btn btn-danger">Cancel order</button>
</form>
